<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trey's List</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{!-- <section id="opening">
    <h1>Welcome to Trey's List!</h1>
    <button class="btn btn-primary btn-welcome" onclick="hopIn()">Welcome</button>
  </section> --}}
  <div id="main-page">
    <div>
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          {{!-- <span role="img" aria-label="money"></span> --}}
          <a href="/">📖 Trey's List</a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <a href="/profile">profile</a> |
          <button class="no-button" id="logout">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main class=" mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
      <footer>
        
      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </div>
  <script src="/js/opening.js"></script>
</body>

</html>
