<div id="profile-container">
  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{name}}!</h2>
      
    </div>
  </div>

  <div class="row mt-4">
    
    <div class="flex-box justify-space-between">
      <form class="form new-book-form profile-new-book-form">
        <h3>Post a new book:</h3>
        <div class="form-group">
          <label for="book-title">Book Title</label>
          <input class="form-input" type="text" id="book-title" name="book-title" />
        </div>
        <div class="form-group">
          <label for="book-author">Author:</label>
          <input class="form-input" type="text" id="book-author" placeholder="first last" name="book-author" />
          
        <div class="form-group">
          <label for="book-isbn">ISBN </label>
          <input class="form-input" type="number" id="book-isbn" placeholder="must be 13 digits" name="book-isbn" />
        </div>
        <div class="form-group">
          <label for="book-price">Price</label>
          <input class="form-input" type="number" id="book-price" name="book-price" />
        </div>
        <div class="form-group">
          <label for="book-desc">Description:</label>
          <textarea class="form-input" id="book-desc" name="book-desc"></textarea>
        </div>
        <div class="form-group">
          <label for="book-email">Preferred Email for contact:</label>
          <input class="form-input" type="text" id="book-email" name="book-email" />
        </div>
        <div class="form-group">
          <label for="book-location">Location </label>
          <input class="form-input" type="text" placeholder="City,ST"id="book-location" name="book-location" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
    {{#if books.length}}
    <div class="col-md-6 book-list current-post">
      <h3>Current Posts:</h3>

      {{#each books as |book|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/books/{{book.id}}">{{book.title}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{book.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
<script src="./js/profile.js"></script>
