.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #0e818a;
  font-weight: bold;
  margin-left: -5px;
}

/* custom css */
header {
  padding: 0.5em 2em 0.5em 2em;
  box-shadow: 5px 3px 2px 1px #888888;
  background-color: rgb(179, 185, 187);
}


.flex-box {
  /* padding: 0 70px 0 70px; */
  display: flex;
  justify-content: space-between;
}

#thumbnail {
  width: 200px;
  height: 250px;
  background-color: rgb(173, 173, 173);
}

#home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.book-icon {
  margin: 0;
  padding: 0;
  font-size: 5em;
}

.book-container {
  padding: 20px;
  width: 20vw;
  align-items: center;
}

#book-title {
  font-size: 1.25em;
}