const User = require('./User');
const Book = require('./Books');
const Project = require('./Project');

User.hasMany(Book, {
  foreignKey: 'user_id',
  onDelete: 'CASCADE'
});

Book.belongsTo(User, {
  foreignKey: 'user_id'
});

Project.belongsTo(User, {
  foreignKey: 'user_id'
});
module.exports = { User, Book };
